body {
	font-size : 14px;
	font-family : sans-serif;
	color : #fff;
	background-color : #171717;
	background-image : url(../img/background.png);
	background-repeat : repeat;
	background-attachment : fixed;
	margin : 2px auto;
        max-width: 600px
}

a {
	border-top : 1px;
	color : #ffffff;
	text-decoration : none;
}


a:hover {
	color : #ffffff;
}
.logotip {
	padding: 10px;
	text-align : center;
	font-size : 18px;
	border-radius : 15px 15px 0 0;
	border : #ffffff solid 2px;
	display: block;
}


.authreg {
	background : #006600 ;
	padding : 4px;
	text-align : center;
	border-left : #fff solid 2px;
	border-right : #fff solid 2px;
	border-bottom : #fff solid 2px;
	
}


.authreg a{
	color : #fff;
	background-color : #004400;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 4px;
	border : #fff solid 2px;
	display : inline-table;
}


.authreg a:hover, .aut a:hover {
	background-color : #002200 ;
	background : #002200 url(../img/background.png);
	color : #fff;
}


.footmenu {
	background : #006600 ;
	padding : 4px;
	text-align : center;
	border : #fff solid 2px;
}


.footmenu a{
	color : #fff;
	background-color : #004400;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 4px;
	border : #fff solid 2px;
	display : inline-table;
	vertical-align: center;
	min-width : 30px;
}

.footmenu img{
	height : 16px
}


.footmenu a:hover, .aut a:hover {
	background-color : #002200 ;
	background : #002200 url(../img/background.png);
	color : #fff;
}



.content {
	color : #fff;
/* 	background : url(../img/block.png) right no-repeat;*/
 	/* background-color : #fff; */
	display : block;
	padding : 8px;
	min-height: 60px;
	border-left: #fff solid 2px;
	border-right: #fff solid 2px;
}


.content a {
	color : #fff;
	background-color : #004400;
	padding:5px;
	margin:5px;
	border-radius : 4px;
	border : #fff solid 2px;
	display : inline-table;
}


.content a:hover {
	color : #fff;
	background-color : #006600;
}


.main{
	color : #fff;
	display : block;
	padding : 8px;
	border-top : 1px solid #000;
	border-left : 2px solid #fff;
	border-right : 2px solid #fff;
}


.main:hover {
	color : #fff;
	background-color : #006600;
}



.main img {
	padding-right : 10px;
}


.count {
	float : right;
	padding : 4px 10px 4px 10px;
	border : #fff solid 1px;
	border-radius : 15px;
	font-size : 10px;
	font-weight : normal;
	color : #fff;
	min-width: 20px;
	text-align: center;
}


.recblock {
	background : #006600 ;
	padding : 4px;
	text-align : center;
	border: #fff solid 2px;
	min-height: 30px;
}


.copy {
	padding-top: 20px;
	height : 45px;
	text-align : center;
	border-radius : 0 0 15px 15px;
	border-left : #ffffff solid 2px;
	border-right : #ffffff solid 2px;
	border-bottom : #ffffff solid 2px;
}


.copy a:hover {
	
}

form {
text-align: center;
}

input{
	color : #fff;
	background-color : #090;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 20px;
	border : #fff solid 2px;
	display : inline-table;
	min-width : 300px;
	text-align: center;
}
select{
	color : #fff;
	background-color : #090;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 20px;
	border : #fff solid 2px;
	display : inline-table;
	min-width : 315px;
	text-align: center;
	text-align-last: center
}

textarea{
	color : #fff;
	background-color : #090;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 20px;
	border : #fff solid 2px;
	min-width : 315px;
}
button{
	color : #fff;
	background-color : #004400;
	padding:5px;
	margin:2px 0px 2px 0px;
	border-radius : 4px;
	border : #fff solid 2px;
	display : inline-table;
	min-width : 310px;
}


input:hover, button:hover, textarea:hover{
	background-color : #002200 ;
	background : #002200 url(../img/background.png);
	color : #fff;
}


input::placeholder,textarea::placeholder{
	text-align: center;
	color : #ddd;
}

.cabinet_ava img{
    float: right;
}

.bordered{
    border-radius : 4px;
    border : #fff solid 2px;
}



.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative;
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.centered {
  text-align: center;
}
img.autosize-img,
video.autosize-video {
  max-width: 100%;
  height: auto;
}
.hide{
    display: none;
}